################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DesignPatterns/v16
/Polymorphism/bin/Debug/netcoreapp2.1
/Polymorphism/obj
/Strategy/obj
/TemplateMethod/obj
/TemplateMethod/bin/Debug/netcoreapp2.1
*.dtbcache
*.dll
/李建忠 - C++设计模式_C#代码/DesignPatterns/.vs/DesignPatterns/v16/Server/sqlite3/storage.ide-wal
/李建忠 - C++设计模式_C#代码/DesignPatterns/.vs/DesignPatterns/v16/Server/sqlite3/storage.ide-shm
/李建忠 - C++设计模式_C#代码/DesignPatterns/.vs/DesignPatterns/v16/Server/sqlite3/storage.ide
/李建忠 - C++设计模式_C#代码/DesignPatterns/.vs/DesignPatterns/v16/Server/sqlite3/db.lock
/李建忠 - C++设计模式_C#代码/DesignPatterns/TemplateMethod/obj
/李建忠 - C++设计模式_C#代码/DesignPatterns/TemplateMethod/bin/Debug/netcoreapp2.1
/李建忠 - C++设计模式_C#代码/DesignPatterns/Strategy/obj
/李建忠 - C++设计模式_C#代码/DesignPatterns/Polymorphism/obj
/李建忠 - C++设计模式_C#代码/DesignPatterns/Polymorphism/bin/Debug/netcoreapp2.1
/李建忠 - C++设计模式_C#代码/.vs/DesignPatterns/v16
/李建忠 - C++设计模式_C#代码/Polymorphism/obj
/李建忠 - C++设计模式_C#代码/Polymorphism/bin/Debug/netcoreapp2.1
/李建忠 - C++设计模式_C#代码/Strategy/obj
/李建忠 - C++设计模式_C#代码/TemplateMethod/obj
/李建忠 - C++设计模式_C#代码/TemplateMethod/bin/Debug/netcoreapp2.1
*.lock
*.ide
*.suo
