################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DesignPatterns/v16
/Polymorphism/bin/Debug/netcoreapp2.1
/Polymorphism/obj
/Strategy/obj
/TemplateMethod/obj
/TemplateMethod/bin/Debug/netcoreapp2.1
*.dtbcache
